main {
    display: flex;
}

.dashboard {
    margin-bottom: 2em;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 50px;
    flex: 1;
}

.dashboard .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3em;
}

.dashboard .charts {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin-right: 1em;
}

.dashboard .charts__grid {
    column-gap: 1.2em;
}

.dashboard .cards {
    flex: 1;
    justify-self: flex-end;

}

.dashboard .title {
    margin-top: 1em;
    margin-bottom: 3em;
}

.dashboard .name {
    color: #ff0000;
}

h1 {
    font-size: 3.5em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
}

@media screen and (min-width: 700px) and (max-width: 1300px) {
    .row {
        flex-direction: row !important;
        //gap: 2em !important;
        justify-content: center !important;
    }

    .dashboard {
        padding: 0;
    }

    .dashboard .charts {
        flex-direction: column !important;
        flex-basis: 100%;
    }

    .dashboard .row.charts__grid {
        flex-direction: row !important;
        column-gap: 2em !important;
    }

    .dashboard .cards {
        display: flex;
        flex-direction: row !important;
    }
}